menu "esp-neo-miata-reflector"
    
    orsource "$IDF_PATH/examples/common_components/env_caps/$IDF_TARGET/Kconfig.env_caps"

    menu "pinout"
        config BOARD_LED_PIN
            int "LED pin"
            range ENV_GPIO_RANGE_MIN ENV_GPIO_OUT_RANGE_MAX
            default 4
        
        config BOARD_LED_STRIP_PIN
            int "LED strip pin"
            range ENV_GPIO_RANGE_MIN ENV_GPIO_OUT_RANGE_MAX
            default 5
            help 
                The pin number of the LED strip data line.
        
        config BOARD_SENS1_PIN
            int "Sensor 1 pin"
            range ENV_GPIO_RANGE_MIN ENV_GPIO_IN_RANGE_MAX
            default 6
            help 
                The pin number of the first voltage sensor.
    
        config BOARD_SENS2_PIN
            int "Sensor 2 pin"
            range ENV_GPIO_RANGE_MIN ENV_GPIO_IN_RANGE_MAX
            default 7
            help 
                The pin number of the second voltage sensor.
    endmenu
    
    menu "mode stack"
        config MODE_LOOP_DELAY
            int "Mode loop delay"
            range 0 10000
            default 16
            help 
                The delay between mode update calls in milliseconds.
    endmenu

    menu "tasks"
        config MARKER_EVENT_LOOP_TASK_PRIORITY
            int "Marker event loop task priority"
            range 0 10
            default 2
            help 
                The priority of the marker event loop task.

        config MODE_STACK_TASK_PRIORITY
            int "Mode stack task priority"
            range 0 10
            default 1
            help 
                The priority of the mode stack task.

        config CONFIG_MANAGER_TASK_PRIORITY
            int "Config manager event loop task priority"
            range 0 10
            default 3
            help 
                The priority of the config manager task.
    endmenu
endmenu